@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("woff");
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@layer base {
  html {
    @apply font-SFPro font-normal;
  }
  th {
    @apply px-4 py-4;
  }
  tr {
    @apply rounded-lg mb-4;
  }
  td {
    @apply px-4 py-4 text-gray text-sm leading-[17px];
  }
}

